.video-box{
    background:#FFF;
    padding:10px;
    border-radius:7px;
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.35);
    transition:0.5s;
}

.video-box:hover{
    transform: scale(1.1, 1.1);
}

.video-box li{
    padding:10px 0px;
}

.video-box .title{
    font-size:24px;
}

.video-box .description{
    font-size:12px;
    color:#95a5a6;
}